.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.Title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-top: 20px;
}

.Button {
  margin-top: 50px !important;
  background-color: #1977f2 !important;
  border-radius: 8px !important;
  font-size: large !important;
  color: #f7f7f7 !important;
  text-transform: none !important;
  padding: 8px 15px !important;
  outline: none;
  border: none;
  cursor: pointer;
}

.Button:active {
  background-color: rgba(25, 119, 242, 0.75) !important;
}
